.form-girl {
  background: #252C39;
  .inform {
    padding: 75px 0 0 0;
    margin: 0 0 0 160px;
  }
  .title {
    font-style: italic;
    font-weight: bold;
    line-height: 38px;
    font-size: 36px;
    color: #FFFFFF;
    max-width: 730px;
  }
  .description {
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    font-size: 24px;
    color: #FFFFFF;
    margin: 38px 0 0 0;
  }
  .send-phone {
    margin: 28px 0 0 0;
    
    .form {
      max-width: 565px;
      display: flex;
      justify-content: normal;
      input {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        line-height: 29px;
        font-size: 18px;
        color: #8F8F8F;
        padding: 12px 20px; 
        width: 285px;
      }
      .btn {
        font-style: italic;
        font-weight: bold;
        line-height: 21px;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        background: #76B82A;
        width: calc(100% - 285px);
        display: flex;
        justify-content: normal;
        align-items: center;
        padding: 0 0 0 30px;
        box-sizing: border-box;
      }
    }
    .social{
      margin: 40px 0 0 0;
      margin: 40px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 340px;
      .text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        font-size: 18px;
        color: #FFFFFF;
      }
      .group{
        display: flex;
        justify-content: space-between;
        max-width: 340px;
      }
    }
  }
}