doctype html  
html(lang='ru')  
  include ./Pug/head.pug
  body
    .wrapper
      include Pug/top-menu.pug
      include Pug/promo.pug
      include Pug/what-ems.pug
      include Pug/this-fitness.pug
      include Pug/form-girl.pug
      include Pug/plan.pug
      include Pug/answer.pug
      include Pug/teams.pug
      include Pug/what-talk.pug
      include Pug/rooms.pug
      include Pug/addresses.pug
      include Pug/form-man.pug
      include Pug/footer.pug
    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/Scripts/scripts.js")
  