doctype html  
html(lang='ru')  
  include ./Pug/head.pug
  body
    .wrapper
      include Pug/top-menu.pug
      include Pug/promo.pug
      include Pug/what-ems.pug
      include Pug/this-fitness.pug

