.wrapper {
  max-width: 1310px;
  margin: 0 auto;
  font-family: 'Roboto Condensed';
  font-size: 15px;
}

strong {
  font-weight: 900 !important;
}

a {
  color: initial;
  text-decoration: none;
}

input {
  font-family: 'Roboto' !important;
}

@media screen and (max-width: 800px) {
  .wrapper {
    overflow: hidden;
  }
}


.popup {
  z-index: 10;
  display: none;
  &.active {
    display: block;
  }
  position: fixed;
  bottom: calc(50% - 130px);
  right: calc(50% - 187px);
  padding: 43px;
  width: 315px;
  height: 141px;
  background: #bdbdbd;
   > div {
  background: #76b82a;
  margin: 9px 0;
  line-height: 54px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
}

.anim-arrow {
  @anim-arrow-background-2: #a21010;
  @anim-arrow-border: #ccc;
  cursor: pointer;
  border: none;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/bezrukovyura/ems.loc/master/img/arrow-btn.png);
  background-repeat: no-repeat;
  padding: 0 80px 0 0;
  background-position: calc(100% - 10%) 50%;
  transition: all 1s;
  color: white;
  transform-style: preserve-3d;
  font-style: italic;
  font-weight: bold;
  line-height: 21px;
  font-size: 20px;
  text-transform: uppercase;
  &:hover {
    background-position: calc(10%) 50%;
    padding: 0 0px 0 90px;
    background-color: @anim-arrow-background-2 !important;
  }

  &.anim-border {
    &:before {
      transition: all 0.5s;
      content: "";
      display: block;
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 15px;
      left: 15px;
      transform: translateZ(-1px);
      border: 1px solid #bdbdbd;
    }
    &:hover {
      &:before {
        top: 0px;
        left: 0px;
        background-color: #bdbdbd;
      }
    }
  }
  &.anim-black {
    background-color: #000;
    &:before {
      border: 1px solid fade(#000, 50%);
    }
    &:hover {
      &:before {
        border: #76B82A;
        background-color: #76B82A;
      }
      background-color: #76B82A !important;
    }
  }
  &.anim-green {
    background-color: #76B82A;
    &:before {
      border: 1px solid fade(#76B82A, 50%);
    }
    &:hover {
      &:before {
        border: 1px solid #1E96C8;
        background-color: #1E96C8;
      }

      background-color: #1E96C8 !important;
    }
  }

}