div(class="addresses", id="addresses")
  .left
    .info
      .title Адреса залов
      .cards
        .card
          .number-wrap
            .number 
              .rot 1
          .right
            .name Шуваловский пр. 41 
            .description 5 минут маршрутка от метро такого-то
        .card
          .number-wrap
            .number 
              .rot 2 
          .right
            .name Кудрово, Ленинградская ул. 7
            .description 5 минут маршрутка и 15 мин пешком. Ориентир - офис компании стройтрест.
  .right#mymap
    script(src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abe1192342e3aca26a4b6c5e8eea2fb65e1b966420e25ec2fc7c6107661d5ada8&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")

