.answer-block
  .circle
  .boots
  .title.revealator-slideup.revealator-within.revealator-duration10 Ответы на важные вопросы
  .answers
    .answer.revealator-slideright.revealator-within.revealator-duration20.revealator-delay4
      .title Какая польза от ЕМС фитнеса?
      .text Регулярно занимаясь EMS-фитнесом, можно добиться: – избавления от целлюлита и галифе, укрепления кожных покровов; оздоровления суставов, снятия отечности, детокс-эффекта; – общего похудения, активации метаболизма и коррекции проблемных мест фигуры; – укрепления мускулатуры, устранения мышечного и пропорционального дисбаланса тела. Без вреда для суставов и позвоночника;
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer.revealator-slideright.revealator-within.revealator-duration20.revealator-delay8
      .title Сколько нужно EMS тренировок, чтобы был заметен результат? 
      .text Первый результат будет заметен уже после 3-5 тренировок. Но для этого очень важно тренироваться с правильной частотой и интенсивностью. Если вы ставите целью похудеть - очень важно правильное питание. Для уменьшения веса необходимо соблюдать низкокалорийную диету, отказавшись от жирных и жареных блюд, слишком больших порций, сладостей, фаст-фуда и алкоголя.
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer.revealator-slideright.revealator-within.revealator-duration20.revealator-delay12
      .title Можно ли заниматься один раз в неделю?
      .text Одна тренировка в неделю куда лучше, чем совсем ничего. Для быстрого достижения цели, лучше заниматься 2 или 3 раза в неделю. Важно помнить, что после тренировки должен быть день или два отдыха для полного восстановления мышц. Если вдруг такой цикл будет скучен, постепенно можно увеличить интенсивность и разнообразить тренинг нагрузками на выносливость, силу, массу, координацию, скорость, и др.
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer.revealator-slideright.revealator-within.revealator-duration20.revealator-delay16
      .title Имеются ли противопоказания у EMS-тренировок?
      .text ЕМС тренировки противопоказаны людям при: #[br]– эпилепсии и тяжелых неврологических патологиях; #[br]– сердечно-сосудистых заболеваниях: тахикардия, аритмия и др.; #[br]– кардиостимуляторе и наличие металлических имплантов в организме; #[br]– беременности и первые 10 недель после естественных родов; #[br]– послеоперационном периоде (3-6 месяцев после кесарева); #[br]– острых бактериальных или вирусных инфекциях; #[br]– гнойные высыпаниях, герпесе в активной стадии; #[br]– злокачественных новообразованиях; #[br]– нарушениях свертываемости крови, тромбофлебите; #[br]– менструации у женщин; #[br]– сахарном диабете; #[br]– паховой грыже.
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer.revealator-slideright.revealator-within.revealator-duration20.revealator-delay18
      .title А это вообще больно?
      .text Ощущения похожи на глубокий массаж, чем-то напоминают жжение в мышцах во время последнего подхода в тренажерном зале. Если появятся неприятные ощущения, вы можете сказать об этом тренеру, и он уменьшит нагрузку. 
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
  .questuion.revealator-slideup.revealator-within.revealator-duration20.revealator-delay20
    a(href="#") Задать свой вопрос