.answer-block
  .circle
  .boots
  .title Ответы на важные вопросы
  .answers
    .answer
      .title Какая польза от ЕМС фитнеса?
      .text Регулярно занимаясь EMS-фитнесом, можно добиться: – избавления от целлюлита и галифе, укрепления кожных покровов; оздоровления суставов, снятия отечности, детокс-эффекта; – общего похудения, активации метаболизма и коррекции проблемных мест фигуры; – укрепления мускулатуры, устранения мышечного и пропорционального дисбаланса тела. Без вреда для суставов и позвоночника;
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer
      .title Сколько нужно EMS тренировок, чтобы был заметен результат? 
      .text Первый результат будет заметен уже после 3-5 тренировок. Но для этого очень важно тренироваться с правильной частотой и интенсивностью. Если вы ставите целью похудеть - очень важно правильное питание. Для уменьшения веса необходимо соблюдать низкокалорийную диету, отказавшись от жирных и жареных блюд, слишком больших порций, сладостей, фаст-фуда и алкоголя.
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer
      .title Можно ли заниматься один раз в неделю?
      .text Одна тренировка в неделю куда лучше, чем совсем ничего. Для быстрого достижения цели, лучше заниматься 2 или 3 раза в неделю. Важно помнить, что после тренировки должен быть день или два отдыха для полного восстановления мышц. Если вдруг такой цикл будет скучен, постепенно можно увеличить интенсивность и разнообразить тренинг нагрузками на выносливость, силу, массу, координацию, скорость, и др.
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer
      .title Имеются ли противопоказания у EMS-тренировок?
      .text ЕМС тренировки противопоказаны людям при: – эпилепсии и тяжелых неврологических патологиях; – сердечно-сосудистых заболеваниях: тахикардия, аритмия и др.; – кардиостимуляторе и наличие металлических имплантов в организме; – беременности и первые 10 недель после естественных родов; – послеоперационном периоде (3-6 месяцев после кесарева); – острых бактериальных или вирусных инфекциях; – гнойные высыпаниях, герпесе в активной стадии; – злокачественных новообразованиях; – нарушениях свертываемости крови, тромбофлебите; – менструации у женщин; – сахарном диабете; – паховой грыже.
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
    .answer
      .title А это вообще больно?
      .text Ощущения похожи на глубокий массаж, чем-то напоминают жжение в мышцах во время последнего подхода в тренажерном зале. Если появятся неприятные ощущения, вы можете сказать об этом тренеру, и он уменьшит нагрузку. 
      img(src="img/answer-plus.svg", class="plus")
      img(src="img/answer-minus.svg", class="minus")
  .questuion
    a(href="#") Задать свой вопрос