.footer
  .wrap
    .left
      a(href="/")
        img(src="img/logo-top.svg")
      a(href="tel:123", class="phone") 8 964 786-67-67
      .social
        a(href="#")
          img(src="img/footer-vk.svg")
        a(href="#")
          img(src="img/footer-inst.svg")
    .right
      a(href="#WQD") Создание сайта — компания 31
        