.footer
  .wrap
    .left
      a(href="/")
        img(src="img/logo-top.svg")
      a(href="tel:89217755347", class="phone") +7 (921) 775-53-47
      .social
        a(href="https://vk.com/emsfitness_uk", target="blank")
          img(src="img/footer-vk.svg")
        a(href="https://www.instagram.com/emsfitness_sandi_kvartal/", target="blank" )
          img(src="img/footer-inst.svg")
    .right
      a(href="#WQD") Создание сайта — компания 31
        

div(class="popup")
  .kudr Кудрово, Ленинградская ул. 7
  .shuv Шуваловский пр. 41