.footer
  .wrap
    .left
      a(href="/")
        img(src="img/logo-top.svg")
      a(href="tel:89217755347", class="phone") +7 (921) 775-53-47
      .social
        a(href="https://vk.com/emsfitness_uk", target="blank")
          img(src="img/footer-vk.svg")
        a(href="https://www.instagram.com/emsfitness_sandi_kvartal/", target="blank" )
          img(src="img/footer-inst.svg")
    .right
      a(href="#WQD") Создание сайта — компания 31
        

div(class="popup")
  .kudr Кудрово, Ленинградская ул. 7
  .shuv Шуваловский пр. 41


script
  |(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  | m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  | (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  |
  |ym(51934520, "init", {
  |      id:51934520,
  |      clickmap:true,
  |     trackLinks:true,
  |      accurateTrackBounce:true,
  |      webvisor:true
  | });

noscript
  div
    img(src="https://mc.yandex.ru/watch/51934520", style="position:absolute; left:-9999px;")