.form-girl
  .inform
    .title S&I-FITNESS — крупнейшая в Санкт-Петербурге студия для персональных ЕМС-тренировок
    .description Получи бесплатную тренировку
    .form
      input(placeholder="Ваш телефон")
      .btn Отправить 
    .social
      .text Или пишите нам сразу в мессенджеры:
      .groups
        a(href="#1")
          img(src)