.form-girl
  .inform
    .title S&I-FITNESS — крупнейшая в Санкт-Петербурге студия для персональных ЕМС-тренировок
    .description Получи бесплатную тренировку
    .send-phone
      .form
        input(placeholder="Ваш телефон")
        button(class="anim-arrow anim-green anim-border") Отправить        
      .social
        .text Или пишите нам сразу в мессенджеры:
        .groups
          a(href="#1")
            img(src="img/form-girl-watsapp.svg")
          a(href="#1")
            img(src="img/form-girl-viber.svg")
          a(href="#1")
            img(src="img/form-girl-telegram.svg")
  .girl