.form-girl
  .inform
    .title S&I-FITNESS — крупнейшая в Санкт-Петербурге студия для персональных ЕМС-тренировок
    .description Получи бесплатную тренировку
    .send-phone
      .form
        input(placeholder="Ваш телефон", class="phone-input")
        button(class="anim-arrow anim-green anim-border") Отправить        
      .social
        .text Или пишите нам сразу в мессенджеры:
        .groups
          a(href="https://msng.link/wa/79217755347")
            img(src="img/form-girl-watsapp.svg")
          a(href="https://msng.link/vi/79217755347")
            img(src="img/form-girl-viber.svg")
          a(href="http://t-do.ru/blaivasr")
            img(src="img/form-girl-telegram.svg")
  .girl