div(class="plun-work", id="plun-work")
  .title Как проходит тренировка
  .description EMS-тренировка длится #[strong 20–30] минут. Тренер регулирует мощность подачи электроимпульсов отдельно для каждого участка тела, исходя из ощущений и выносливости тренируемого.
  .meta-title Занятие делится на три этапа:
  .cards
    .item 
      .number 
        .rot 1
      .text
        .title Разминка
        .description длится не более 5–7 минут и представляет собой одновременное занятие на степпере (или эллипсоиде) и выполнение довольно простых упражнений. 
      img(src="img/how-ph1.jpg")
    .item 
      .number
        .rot 2
      .text
        .title Силовой тренинг
        .description 
          |включает интервальную тренировку: 4 секунды работы — 4 секунды отдыха на протяжении 15–17 минут. 
          |Упражнения усложняются: необходимо приседать, делать махи, наклоны в стороны,          а также упражнения на пресс, руки и спину.
      img(src="img/how-ph2.jpg")
    .item 
      .number 
        .rot 3
      .text
        .title Лимфодренажный массаж
        .description 
          | Здесь от вас требуется лишь лежать и получать удовольствие от приятных покалываний.
        button(class="anim-arrow anim-black anim-border" onClick="app.down()") Попробовать бесплатно
      img(src="img/how-ph3.jpg")