.promo-first
  .left
    .top
      .title Идеальное тело за 20 минут в день!
      .description Ems-фитнес - самый эффективный вид тренировок полностью заменяющий изнурительные походы в тренажёрный зал
    .bottom
      .title Получи бесплатную тренировку 
      .form
        input(type="text", placeholder="Ваш телефон", class="phone-input")
        button(class="anim-arrow send-phone-action sender anim-black anim-border") Отправить
      .description
        div EMS-тренировка с персональным тренером
        div Диагностика и подбор подходящей программы
        div Сеанс аппаратного лимфодренажного массажа
      .ems EMS
    .girl
  .right
    .left
    .right
.promo-first-mobile
  img(src="img/mob-promo.jpg", class="photo-girl")
  .text Ems-фитнес - самый эффективный вид тренировок полностью заменяющий изнурительные походы в тренажёрный зал
  .baner Получи бесплатную тренировку.
  input(placeholder="Ваш телефон", class="phone-input")
  button(class="anim-arrow send-phone-action sender anim-black anim-border") Отправить  
  .items
    .item EMS-тренировка с персональным тренером
    .item Диагностика и подбор подходящей программы
    .item Сеанс аппаратного лимфодренажного массажа