.promo-first
  .left
    .top
      .title Идеальное тело за 20 минут в день!
      .description ЕМS-тренировки — самый современный вид тренировок полностью заменяющий долгие тренировки
    .bottom
      .title Получи бесплатную тренировку 
      .form
        input(type="text", placeholder="Ваш телефон")
        button(class="anim-arrow sender anim-black anim-border") Отправить
      .description
        div EMS-тренировка с персональным тренером
        div Диагностика и подбор подходящей программы
        div Сеанс аппаратного лимфодренажного массажа
      .ems EMS
    .girl
  .right
    .left
    .right
.promo-first-mobile
  img(src="img/mob-promo.jpg", class="photo-girl")
  .text ЕМS-тренировки — самый современный вид тренировок полностью заменяющий долгие тренировки
  .baner Получи бесплатную тренировку.
  input(placeholder="Ваш телефон")
  button(class="anim-arrow sender anim-black anim-border") Отправить  
  .items
    .item EMS-тренировка с персональным тренером
    .item Диагностика и подбор подходящей программы
    .item Сеанс аппаратного лимфодренажного массажа