.rooms
  .gant
  .title Наши залы
  .room-name
    .name.active Шуваловский проспект
    .name Кудрово
  .outer
    .photos
      .inner
        img(src="img/rooms-room0-photo0.jpg")
        img(src="img/rooms-room0-photo1.jpg")
        img(src="img/rooms-room0-photo2.jpg")
  .arrows
    img(class="left", src="img/rooms-arrow-left.png")
    .text 0/0
    img(class="right", src="img/rooms-arrow-right.png")