.we-teams
  .wrap
    .left
      .title Наша команда
      .description Про команду Сколько тренеров. Мастеров спорта и прочее
      button(class="anim-arrow anim-black anim-border", onClick="app.down()") записаться              
    .right
      .inner
        .cards
          .card
            .img
              img(src="img/we-teams-1.jpg")
            .title Василий Дейнека
            .description Описание опыта тренера
          .card
            .img
              img(src="img/we-teams-2.jpg")
            .title Александр Потемкин
            .description Описание опыта тренера
          .card
            .img
              img(src="img/we-teams-3.jpg")
            .title Дмитрий Дейнека
            .description Описание опыта тренера
          .card
            .img
              img(src="img/we-teams-4.jpg")
            .title Василий Дейнека
            .description Описание опыта тренера
          .card
            .img
              img(src="img/we-teams.jpg")
            .title Василий Дейнека
            .description Описание опыта тренера
  .bottom
    .arrows
      img(class="left", src="img/rooms-arrow-left.png")
      .text 5/24
      img(class="right", src="img/rooms-arrow-right.png")