.we-teams
  .wrap
    .left.revealator-slideup.revealator-within.revealator-duration10  
      .title Наша команда
      .description Про команду Сколько тренеров. Мастеров спорта и прочее
      button(class="anim-arrow anim-black anim-border", onClick="app.down();") записаться              
    .right.revealator-slideup.revealator-within.revealator-duration10
      .inner
        .cards
          .card
            .img
              img(src="img/we-teams-1.jpg")
            .title Чурсинова Анна
            .description 
              |#[strong Образование:] КФКиСЭТ СПБГУ физическая культура и спорт , экономика и технологии. #[br]
              |#[strong Опыт:] спортивные танцы - 12 лет, цирковая акробатика - 2 года.#[br]
              |Опыт работы в фитнесе - 3 года. 
          .card
            .img
              img(src="img/we-teams-2.jpg")
            .title Мелех Виктория
            .description 
              |#[strong Образование:] РГПУ им.А.И.Герцена. Проходила обучение в Международном учебном центре подготовки специалистов в сфере фитнеса "Fitness Profi". #[br]
              |Инструктор #[strong групповых программ]. Являлась участницей в танцевальной группе «Фреско». #[br]
              |Участвовала в #[strong «Чемпионате шоу-групп»] среди фитнес-клубов и марафонах.
          .card
            .img
              img(src="img/we-teams-3.jpg")
            .title Исаева Алина
            .description 
              |Прошла профессиональное #[strong фитнес обучение] «Fitness Profi». #[br]
              |Имеются #[strong дипломы] по направлениям: инструктор групповых программ (силовые классы, степ-аэробика, пилатес), инструктор тренажерного зала. #[br]
              |Дополнительные #[strong курсы]: TRX, BODY BALANCE с применением емс-тренажера. 

          .card
            .img
              img(src="img/we-teams-4.jpg")
            .title Динара Мустафина
            .description 
              |#[strong Образование:] профессиональная переподготовка НГУ им. П.Ф. Лесгафта. #[br]
              |Проходила обучение в #[strong Международном учебном центре] подготовки специалистов в сфере фитнеса "Fitness Profi" по направлениям: тренажерный зал и основы персонального тренинга, теоретический курс и практические навыки по учебным программам "Нутрициология". #[br]
              |#[strong Диплом] инструктора групповых занятий "School of professional Fitness". Теоретический и практический курс "Пилатес MatWork - тренер”, “Основы реабилитации в фитнесе для людей с заболеваниями позвоночника”. #[br]
              |#[strong Опыт] работы в фитнесе - 5 лет.
  .bottom.revealator-slideup.revealator-within.revealator-duration15
    .arrows
      img(class="left", src="img/rooms-arrow-left.png")
      .text 5/24
      img(class="right", src="img/rooms-arrow-right.png")