.we-teams
  .wrap
    .left
      .title Наша команда
      .description Про команду Сколько тренеров. Мастеров спорта и прочее
      a(href="#s") записаться
    .right
      .inner
        .cards
          .card
            .img
              img(src="img/we-teams.jpg")
            .title Василий Дейнека
            .description Описание опыта тренера
          .card
            .img
              img(src="img/we-teams.jpg")
            .title Василий Дейнека
            .description Описание опыта тренера
          .card
            .img
              img(src="img/we-teams.jpg")
            .title Василий Дейнека
            .description Описание опыта тренера