- var mas = ["Сокращение времени тренировки до 20 минут", "Стимуляция всех групп мышц на каждой тренировке", "Персональные тренировки один на один с тренером", "Тренировки без использования тяжелого веса веса", "Индивидуальный комплект формы", "Программы тренировок по 7 направлениям", "Фитнес, где можно приходить с детьми", "Восстановление формы после родов", "Подходит для пожилых людей"];
.this-fitness
  .title Фитнес в S&I это:
  .cards
    each val, index in mas
      .item
        .number= index + 1
        .text= val
