mixin socio(href, img)
    a(href=href)
        img(src=img)

mixin _menuItem(href, text)
    a(href=href)= text

.top-menu
    img(src="img/burger.svg", id="burger")
    .logo
        img(src="img/logo-top.svg")
    .menu
        +_menuItem("#what-ems", "что такое ЕМS")
        +_menuItem("#plun-work ", "Этапы тренировки")
        +_menuItem("#what-talk", "Отзывы")
        +_menuItem("#addresses", "Адреса залов")
    .contacts
        a(href="#tel:89217755347",class="phone") +7 (921) 775-53-47
        .or ИЛИ
        .link
            +socio("https://msng.link/tg/79217755347", "img/topmenu-telegram.svg")
            +socio("https://msng.link/vi/79217755347", "img/topmenu-viber.svg")
            +socio("https://msng.link/wa/79217755347", "img/topmenu-watsapp.svg")