mixin socio(href, img)
    a(href=href)
        img(src=img)

mixin _menuItem(href, text)
    a(href=href)= text

.top-menu
    img(src="img/burger.svg", id="burger")
    .logo
        img(src="img/logo-top.svg")
    .menu
        +_menuItem("#what-ems", "что такое ЕМS")
        +_menuItem("#plun-work ", "Этапы тренировки")
        +_menuItem("#what-talk", "Отзывы")
        +_menuItem("#addresses", "Адреса залов")
    .contacts
        a(href="#tel:1223",class="phone") 8 964 786-67-67
        .or ИЛИ
        .link
            +socio("#tele", "img/topmenu-telegram.svg")
            +socio("#viber", "img/topmenu-viber.svg")
            +socio("#watsapp", "img/topmenu-watsapp.svg")