div(class="what-talk", id="what-talk")
  .circle
  .title Что о нас говорят
  .cards

    .card.revealator-slideright.revealator-within.revealator-duration15
      .top
        .left
          .img
            img(src="img/what-talk1.jpg")
        .right
          .title Анастасия Русецкая
          .description 23 июня 2018
      .bottom
        .text Хотелось бы написать свои впечатления по поводу занятий в студии на Шуваловском проспекте. Длинно. В определенный момент времени я с пугающей четкостью осознала, что мне не нравится та унылая особа, в которую я превращаюсь, обрастая при этом дополнительными килограммами. Поэтому было принято волевое решение встать на путь изменений. Хотя я понимала, что кнопки «сделать сразу зашибись» не будет. Нужно просто менять свою жизнь к лучшему, включая собственное тело. И никто, кроме меня самой не сделает этого! Я и только я несу ответственность за себя, свое здоровье, свое состояние и свою внешность. Поэтому надо действовать. Нормальное питание + правильные физические нагрузки = испытанный рецепт подтянутой барышни. Оговорюсь: я не хочу похудеть, я хочу привести себя в потерянную форму и продолжать ее поддерживать. Быть собой, но только лучше. Реклама студии попалась на глаза случайно, и я пришла на пробное занятие. В итоге, я с декабря с вами, и не собираюсь останавливаться. Пробная тренировка и купленный следом абонемент, а потом еще и еще. Почему еще именно EMS и именно в студиях S&I? Пункт раз: это работает! На промежуточной стадии возвращения к себе: минус 7кг, существенно подтаявшие объёмы: на два размера. Работает вместе со скорректированным питанием, пусть и без фанатизма и жестких ограничений. Еда по-прежнему в удовольствие, но в меньших количествах и сдержаннее. Пункт второй: внешний вид тренеров. Забавно? Совсем нет. Вижу подтянутых, стройных, пластичных и интересных девушек, у которых нет торчащих и выпирающих мышц. То есть выглядят тренеры как пример для подражания. Пишу про Динару и Аню с Шуваловского, поскольку не имею удовольствия знать тренеров из Кудрово, но по фотографиям делаю аналогичный вывод! Пункт третий: тренеры! Но уже в плане работы и профессионализма. Четкое анкетирование на проблемы сл здоровьем, выявление противопоказаний, знание анатомии, постоянное обновление знаний (самообучение), объяснение нюансов работы организма - сомнений в том, что выбран правильный путь не остается к концу второго занятия. Пункт третий: индивидуальный подход, как следствие пункта второго и вообще суть EMS. Сюда же добавлю, что благодаря вышесказанному, есть чёткое понимание как должно работать то или иное упражнение. И важнее - ощущение. Ощущение работающих мышц, ощущение практически пробуждения организма каждый раз! Не вру, каждый. Ну и хныкающе-ноющие мышцы к концу следующего дня, хотя опять же без фанатизма. Результат правильно подобранной именно доя меня нагрузки. Да, всегда можно сказать, чего ты хочешь или не хочешь/не будешь делать, скорректируют и подберут нужное. Пункт следующий: комфорт. Здесь и адекватный подход тренеров и менеджеров, ненужность больших и тяжелых спортивных сумок. Достаточно кроссовок и сменного белья. Остальное - есть на месте (все мыльно-рыльные, полотенце, фен и даже костюм)! Для меня это оказалось важно. Да и многих больше ломает ДОЙТИ до зала, нежели сами тренировки. А в нашем случае даже сумку собирать не нужно, разве что носки с трусами и кроссовки. Это же обалдеть как удобно! Пункт следующий, но один из важнейших: время! 20 минут на тренировку! Еще 5 на массаж. Еще 15 на душ и переодеться. Итог:40-45 минут на все про все. В нашем бешеном темпе, когда на успеть все и за один вечер - это чертовски ценно, простите за экспрессию.) Примерно так. Ах да, дополнительной мотивацией для меня стала эта фраза в паблике студии: «Не нужно быть лучше других. Нужно быть лучше, чем неделю назад».

    .card.revealator-slideleft.revealator-within.revealator-duration15
      .top
        .left
          .img
            img(src="img/what-talk2.jpg")
        .right
          .title Михаил Иванов
          .description 12 сентября 2018
      .bottom
        .text Фитнес нового поколения. Метод электромиостимуляции это передача тока к мышце, вызывая ее сокращение. Эта методика обширно используется в профессиональном спорте.

    .card.revealator-slideright.revealator-within.revealator-duration15
      .top
        .left
          .img
            img(src="img/what-talk3.jpg")
        .right
          .title Maria Mamontova
          .description 21 декабря 2018
      .bottom
        .text Добрый день. Посещаю вашу студию с июля 2018 г. В целом подход к треннеровка нравится. Очень ненавязчиво и уходит там где надо и подкачивантся где маловато. В целом результатом больше чем довольна! Подкрепляю это все пп и массажем плюс треннеровка полноценные в зале но редко. Девочки всем советую т. К. Не занимает много времени и эффект почувствуете чуть ли не сразу. Хочу отметить инструктора Екатерину... Очень хороший тренер и приятный человек!!!

    .card.revealator-slideleft.revealator-within.revealator-duration15
      .top
        .left
          .img
            img(src="img/what-talk4.jpg")
        .right
          .title Андрей Новиков
          .description 1 октября 2018
      .bottom
        .text Хотелось бы написать свои впечатления по поводу занятий в студии на Шуваловском проспекте. Длинно. В определенный момент времени я с пугающей четкостью осознала, что мне не нравится та унылая особа, в которую я превращаюсь, обрастая при этом доп... 
  .info.revealator-slideup.revealator-within
    .text
      | Читать больше отзывов 
      a(href="https://vk.com/emsfitness_uk", target="blank") ВКонтакте 
      | или в 
      a(href="https://www.instagram.com/emsfitness_sandi_kvartal/", target="blank") Instagram 