div(class="what-talk", id="what-talk")
  .circle
  .title Что о нас говорят
  .cards

    .card
      .top
        .left
          .img
            img(src="img/what-talk1.jpg")
        .right
          .title Анастасия Русецкая
          .description 23 июня 2018
      .bottom
        .text Хотелось бы написать свои впечатления по поводу занятий в студии на Шуваловском проспекте. Длинно. В определенный момент времени я с пугающей четкостью осознала, что мне не нравится та унылая особа, в которую я превращаюсь, обрастая при этом доп... 

    .card
      .top
        .left
          .img
            img(src="img/what-talk2.jpg")
        .right
          .title Михаил Иванов
          .description 23 июня 2018
      .bottom
        .text Фитнес нового поколения. Метод электромиостимуляции это передача тока к мышце, вызывая ее сокращение. Эта методика обширно используется в профессиональном спорте.

    .card
      .top
        .left
          .img
            img(src="img/what-talk3.jpg")
        .right
          .title Maria Mamontova
          .description 23 июня 2018
      .bottom
        .text Добрый день. Посещаю вашу студию с июля 2018 г. В целом подход к треннеровка нравится. Очень ненавязчиво и уходит там где надо и подкачивантся где маловато. В целом результатом больше чем довольна! Подкрепляю это все пп и массажем плюс треннеровка полноценные в зале но редко. Девочки всем советую т. К. Не занимает много времени и эффект почувствуете чуть... 

    .card
      .top
        .left
          .img
            img(src="img/what-talk4.jpg")
        .right
          .title Михаил Иванова
          .description 23 июня 2018
      .bottom
        .text Хотелось бы написать свои впечатления по поводу занятий в студии на Шуваловском проспекте. Длинно. В определенный момент времени я с пугающей четкостью осознала, что мне не нравится та унылая особа, в которую я превращаюсь, обрастая при этом доп... 
  .info
    .text
      | Читать больше отзывов 
      a(href="#W") ВКонтакте 
      | или в 
      a(href="#W") Instagram 