.what-ems
  .title Что такое EMS-тренировки
  .card #[strong Электромиостимуляция (EMS)] — метод воздействия на все основные группы мышц с помощью электрических импульсов, которые передаются через  датчики, установленные на функциональном костюме. 
  .info
    .left
      .description
        .item
          |#[strong Импульсы «заставляют» мышцы сокращesаться] 
          |как во время обычных физических упражнений, но с большей интенсивностью.
        .item
          |#[strong В течение 20 минут вы делаете простые упражнения,] 
          | но ваше тело получает нагрузку как на 3-часовой тренировке в спортзале. 
        .item
          |#[strong Тренер] 
          |следит за тренировкой и
          |#[strong регулирует воздействие тока] 
          |индивидуально под вас.
    .right
      img(src="img/what-ems-girl.png")
      .text 
        |Электромиостимуляция стала применяться  еще в 1960-х годах советским учеными для  восстановления мышц 
        |космонавтов после полета в космос. В Европе данный метод активно использовали в физиотерапиии, 
        |ускоренной подготовке и реабилитации  профессиональных спортсменов.